<div id="intro" class="row">
    <div speech-bubble pbottom acenter id="speech-bubble-intro" class="offset-3 col-6">
        <h1>Hi there!</h1>
        <h1>What can Rico do for you today?</h1>
    </div>
    <div id="choice" class="row">
        <div id="hand" class="col-3">
            <a id="link" href="/ricos-lab" role="button" class="btn btn-primary"><h2>Rico's Lab</h2></a>
            <img src="/img/plate.png" width='350' height='350' alt="hand right">
        </div>
        <div id="rico-home" class="col-4"><img src="/img/rico.png" alt="the mascot Rico"></div>
        <div id="hand" class="col-3">
            <a id="link" href="ricos-menu" role="button" class="btn btn-primary"><h2>Rico's Menu</h2></a>
            <img src="/img/plate.png" width='350' height='350' alt="hand right">
        </div>
    </div>
</div>