<div id="intro" class="row">
    <div id="blurb-home" class="row">
        <div speech-bubble pright acenter id="speech-bubble-intro" class=" col-6">
            <h1>Hi there!</h1>
            <h1>What can Rico do for you today?</h1>
        </div>
        <div id="rico-home" class="col-4"><img src="/img/rico.png" alt="the mascot Rico"></div>
    </div>
    <br>
    <div id="choice_home" class="row">
        <div class="col-sm-12 col-md-5">
            <a href="/ricos-lab" id="link"role="button" class="btn btn-primary"><h2>Rico's Lab</h2></a>
        </div>
        <div class="col-sm-12 col-md-5">
            <a href="ricos-menu" id="link"role="button" class="btn btn-primary"><h2>Rico's Menu</h2></a>
        </div>
    </div>
</div>