<div id="intro" class="row">
    <div speech-bubble pright acenter id="speech-bubble-intro" class="offset-2 col-5">
        <h2>Hi there!</h2>
        <h2>What can Rico do for you today?</h2>
    </div>
    <div id="rico-home" class="col-3"><img src="/img/rico.png" alt="the mascot Rico"></div>
    <br>
    <div id="choice" class="row">
        <div class="offset-1 col-5">
            <a href="/ricos-lab" role="button" class="btn btn-primary"><h2>Rico's Lab</h2></a>
        </div>
        <div class="offset-1 col-5">
            <a href="ricos-menu" role="button" class="btn btn-primary"><h2>Rico's Menu</h2></a>
        </div>
    </div>
</div>