/* speech bubble */
[speech-bubble], [speech-bubble] * { box-sizing: border-box }

[speech-bubble]{
  --bbColor: grey;
  --bbArrowSize: 1.5rem;
  --bbBorderRadius: 25px;
  --bbPadding: 1rem;
  background: var(--bbColor);
  border-radius: var(--bbBorderRadius);
  padding: var(--bbPadding);
  position: relative;
}

[speech-bubble]::before{
  content: ''; 
  position: absolute;
  background: var(--bbColor);
}

[speech-bubble][pbottom]{ margin-bottom: var(--bbArrowSize) }
[speech-bubble][ptop]   { margin-top: var(--bbArrowSize); }
[speech-bubble][pleft]  { margin-left: var(--bbArrowSize); }
[speech-bubble][pright] { margin-right: var(--bbArrowSize); }


/* bottom and top  */
[speech-bubble][pbottom]::before,
[speech-bubble][ptop]::before{
  --width: calc(var(--bbArrowSize) / 2 * 3);
  height: var(--bbArrowSize);
  width: var(--width);
}

/* bottom */
[speech-bubble][pbottom]::before{
  top: calc(100% - 2px);
}
[speech-bubble][pbottom][aleft]::before{
  left: 1rem;
  clip-path: polygon(25% 0, 100% 0, 0% 100%)
}
[speech-bubble][pbottom][acenter]::before{
  left: calc(50% - var(--width) / 2);
  clip-path: polygon(12.5% 0, 87.5% 0, 50% 100%)
}
[speech-bubble][pbottom][aright]::before{
  right: 1rem;
  clip-path: polygon(0 0, 75% 0, 100% 100%)
}

/* top */
[speech-bubble][ptop]::before{
  bottom: calc(100% - 2px);
}
[speech-bubble][ptop][aleft]::before{
  left: var(--bbPadding);
  clip-path: polygon(0 0, 100% 100%, 25% 100%)
}
[speech-bubble][ptop][acenter]::before{
  left: calc(50% - var(--width) / 2);
  clip-path: polygon(12.5% 100%, 50% 0, 87.5% 100%)
}
[speech-bubble][ptop][aright]::before{
  right: var(--bbPadding);
  clip-path: polygon(0 100%, 100% 0, 75% 100%)
}

/* left and right  */
[speech-bubble][pleft]::before,
[speech-bubble][pright]::before{
  --height: calc(var(--bbArrowSize) / 2 * 3);
  width: var(--bbArrowSize);
  height: var(--height);
}

/* right */
[speech-bubble][pright]::before{
  left: calc(100% - 2px);
}
[speech-bubble][pright][atop]::before{
  top: var(--bbPadding);
  clip-path: polygon(100% 0, 0 100%, 0 25%)
}
[speech-bubble][pright][acenter]::before{
  top: calc(50% - var(--height) / 2);
  clip-path: polygon(0 12.5%, 100% 50%, 0 87.5%)
}
[speech-bubble][pright][abottom]::before{
  bottom: var(--bbPadding);
  clip-path: polygon(0 0, 100% 100%, 0 75%)
}

/* left */
[speech-bubble][pleft]::before{
  right: calc(100% - 2px);
}
[speech-bubble][pleft][atop]::before{
  top: var(--bbPadding);
  clip-path: polygon(0 0, 100% 25%, 100% 100%)
}
[speech-bubble][pleft][acenter]::before{
  top: calc(50% - var(--height) / 2);
  clip-path: polygon(0 50%, 100% 12.5%, 100% 87.5%);
}
[speech-bubble][pleft][abottom]::before{
  bottom: var(--bbPadding);
  clip-path: polygon(0 100%, 100% 0, 100% 75%)
}

/* flip */
[speech-bubble][pbottom][flip]::before,
[speech-bubble][ptop][flip]::before{
  transform: scaleX(-1)
}
[speech-bubble][pleft][flip]::before,
[speech-bubble][pright][flip]::before{
  transform: scaleY(-1)
}

html, body {
  background-image: url(../img/background.jpg);
    height: 100%;
    margin: 0;
    padding: 0;
}
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #F44D0B !important;
}

/* home page */
h1 {
  color: white;
}
#speech-bubble-intro {
    position: relative; 
    padding: 40px;
    align-items: center;
}
#blurb-home {
  margin: auto;
  width: 75%;
  align-items: center;
  position: relative;
  top: 80px;
}
#choice_home {
  margin: auto;
  width: 50%;
  align-items: center;
  position: relative;
  top: 100px;
}
#link {
  margin: 10px;
}
/* explore page */
#like-button {
  position: relative;
  left:75%
}
#searchBar {
  position: relative;
  top: 50px;     
  padding-left:20px ;
}
@media (max-width: 1200px) {
  #to-lab {
    margin-top: 30px;
  }
}
#menu-items {
  position: relative;
}
#item {
  filter: drop-shadow(10px 10px 1px #F44D0B);
  border-radius: 10% / 50%;
  margin: 20px;
}
#rico-explore {
  position: relative;
  height: 180px;
  top: 10px;
}
.solid {
  border-radius: 35px;
  position: relative;
  bottom: 35px;
  height: 8px;
  background: #F44D0B;
}
#speech-bubble-explore {
  position: relative;
  top: 50px;
  right: 20px;
  width: 300px;
  height: 60px;
  text-align: center;
  text-decoration: none;
  color: white;
}
#search-input {
  position: relative;
  height: 50px;
}

/* generate page */
#speech-bubble-create {
  position: relative;
  top: 130px;     
  height: 250px;
  padding-top: 30px;
  padding-left:40px ;
}

#response {
  background-image: url(../img/cuttingboard.jpg);
  border-radius: 35px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 40px;
  visibility: hidden;
}

#to-menu-generate {
  margin: auto;
  justify-content: center;
  padding-bottom: 30px;
}
/* recipe page */
#return-link {
  text-decoration: none;
  color: black;
}
#return-link:hover {
  color: #F44D0B;
}
#to-lab{
  margin-bottom: 60px;
}
#recipe {
  background-image: url(../img/cuttingboard.jpg);
  border-radius: 35px;
  padding-top: 70px;
  padding-bottom: 70px;
}
#recipe-title{
  padding-bottom: 40px;
}
#recipe-details {
  margin: 0;
  position: relative;
  left: 10%;
  padding: 30px;
  background-color: rgba(255, 255, 255, .5);
  width: 80%;
  border-radius: 35px;
}
p {
  font-size: 20px;
}
#recipe-comments {
  padding: 30px;
}

#speech-bubble-recipe {
  text-align: center;
  color: white;
  position: relative;
  padding-top: 30px;
  height: 150px;
}
.recipe-hr {
  border-radius: 35px;
  position: relative;
  bottom: 35px;
  height: 8px;
  background: #F44D0B;
}
.carousel-inner, .carousel-item, img{ 
  margin:auto; 
}
#recipe-title{
  text-align: center;
}
#upload-img{
  padding-top: 30px;
  width: 40%;
  margin: 0 auto;
}
.comments-hr {
  border-radius: 35px;
  position: relative;
  bottom: 35px;
  height: 8px;
  background: black;
}
#input-comment {
  height: 100px;
}
#input-comment {
  padding-left: 20px;
}
